* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container {
    background-color: rgb(104, 105, 105);
    margin: 0 auto;
    max-width: 100%;
    padding-top: 50px;
}

.slider {
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider_footer {
    display: flex;
}

.slider_img {
    width: 100%;
}

.slider_dot {
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, .5);
    border-radius: 100px;
}

.slider_text {
    color: rgba(255, 255, 255);
}